@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="form-group">
        <input class="form-control" type="text" id="main_textarea" placeholder="Ex. How large is the crowd on the streets of #Baltimore?">
        <span id="text_counter"></span>
        <div>
            <input class="btn btn-primary pull-right" style="margin-top:10px" type="submit" id="posting" value="Post" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Anybody</h2>
        <p>The answers can come from a person you have never and may never meet.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anywhere</h2>
        <p>Every internet-accessible inhabited part of the earth is fair game.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Now</h2>
        <p>No need to wait when you can get first-hand answers as you need them.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>